/*Goodle font style link*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Keania+One&family=Mina&family=Petemoss&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /*background-image: url('assets/images/skyone.jpg'); for some  technical reasons the image will not load*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}


.countdown {
  display: flex;
  margin-top: 130px;
  justify-content: space-evenly;
  align-items: center;
 
}

h1 {

  font-family: 'Keania One', cursive;
  font-size: 50px;
  color: rgb(181, 15, 15);
}

h2 {
  font-family: 'Aldrich', sans-serif;
  color: rgb(72, 18, 220);

}

h3 {
  font-family: 'Mina', sans-serif;
  color: rgb(0, 0, 0);
}





